
.body{
    color: saddlebrown;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}

a{
    margin-top: auto;
    font-size: x-large;
    background-color:#FFA500;
}

a:link{
    color:white;
}

a:visited{
    color: yellow;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 80%;
    left: 10%;
    transform:translate(-50%,-50%);
    opacity:0;
}

.item:hover p{
    opacity:1;
}

h1{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    border:solid;
}

.grid:hover a{
    color: red;
}